@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
    margin: 0
    padding: 0
    font-family: Roboto

header
    background-color: black
    display: flex
    color: white
    min-height: 80px
    padding: 0 13.75%
    align-items: center

ul, p, h1, h2, h3, h4, h5, h6, nav
    margin: 0
    

.menu
    display: flex
    flex-basis: 472px
    justify-content: space-between
    padding: 0
    margin-left: 64px
    list-style: none

.about
    color: orange

li, .by
    font-weight: 500
    font-size: 16px
    line-height: 22.4px

a
    &:link, &:active, &:visited
        color: white
        text-decoration: none
    &:hover
        color: orange
        cursor: pointer

.logo
    flex-basis: 80px
    height: 49px
    border: 1px solid white
    align-self: center
    display: flex
    justify-content: center
    align-items: center
    border-radius: 2px
    background-image: url('../../assets/icons/bamboo.svg')
    background-repeat: no-repeat
    background-position-x: 8.5px
    background-position-y: 22px

.petstory
    font-weight: 400
    font-size: 19.01px
    line-height: 22.82px
    text-align: center

.by
    text-align: right
    flex-basis: 105px

.empty
    flex-basis: 445px
    flex-shrink: 5

div > p
    vertical-align: bottom

////////////////////////////////////////////section1///////////////////////////////////////////



/////////////////////////////////////////////footer//////////////////////////////////////////

footer
    height: 393px
    background-color: black
    padding: 0 220px
    display: flex
    align-items: flex-end
    padding-bottom: 50px
    justify-content: space-between

.left
    flex-basis: 298px
    margin-right: 66px

.left > div
    color: white
    width: 80px

.btn5
    font-weight: 500
    font-size: 15px
    line-height: 22.4px
    color: white
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    border: none
    width: 298px
    height: 54px
    margin-top: 70px
    margin-bottom: 35px 
    letter-spacing: -0.3px

.social > li
    color: white
    list-style: none
    font-weight: 400
    font-size: 16px
    line-height: 22.4px
    height: 26px
    padding-left: 38px
    display: flex
    align-items: flex-end
    margin-top: 10px
    background-repeat: no-repeat

ul
    padding: 0

.face
    background-image: url('../../assets/images/fb.png')
.twit
    background-image: url('../../assets/images/tw.png')
.inst
    background-image: url('../../assets/images/in.png')
.yotu
    background-image: url('../../assets/images/yb.png')

.center
    display: flex
    flex-basis: 362px
    justify-content: space-between
    padding: 0
    list-style: none

.right > h5
    color: white
    margin-bottom: 14px

.right > p
    color: white
    font-weight: 100
    font-size: 16px
    line-height: 20.8px
    margin-top: 10px
    margin-left: 140px

form
    height: 42px
    width: 369px
    margin-bottom: 216px

input
    width: 214px
    height: 38px
    background-color: black
    border: 1px solid orange
    padding-left: 10px
    margin-right: 8px
    &::placeholder
        color: #BDBDBD
        font-weight: 400
        font-size: 15px
        line-height: 22.4px
        letter-spacing: 0.3px

form > button
    width: 129px
    height: 42px
    border: 1px solid #4B9200
    color: #4B9200
    border-radius: 5px
    background: #F1F3F2
    font-weight: 400
    font-size: 15px
    line-height: 22.4px
    letter-spacing: 0.3px