@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
    margin: 0
    padding: 0
    font-family: Roboto

.btn1, .btn5
    &:hover
        background: #E47209
    &:active
        background-color: #4B9200

button
    &:hover
        cursor: pointer

header
    background-color: black
    display: flex
    color: white
    min-height: 80px
    padding: 0 13.75%
    align-items: center

ul, p, h1, h2, h3, h4, h5, h6, nav
    margin: 0
    

.menu
    display: flex
    flex-basis: 472px
    justify-content: space-between
    padding: 0
    margin-left: 64px
    list-style: none

.donate
    color: orange

li, .by
    font-weight: 500
    font-size: 16px
    line-height: 22.4px

a
    &:link, &:active, &:visited
        color: white
        text-decoration: none
    &:hover
        color: orange
        cursor: pointer

.logo
    flex-basis: 80px
    height: 49px
    border: 1px solid white
    align-self: center
    display: flex
    justify-content: center
    align-items: center
    border-radius: 2px
    background-image: url('../../assets/icons/bamboo.svg')
    background-repeat: no-repeat
    background-position-x: 8.5px
    background-position-y: 22px

.petstory
    font-weight: 400
    font-size: 19.01px
    line-height: 22.82px
    text-align: center

.by
    text-align: right
    flex-basis: 105px

.empty
    flex-basis: 445px
    flex-shrink: 5

div > p
    vertical-align: bottom

////////////////////////////////////////////section///////////////////////////////////////////

.panda
    background-image: url('../../assets/images/Giant Panda.png')
    height: 386px
    background-position-y: -198px

section
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)
    height: 1442px
    padding-top: 40px

h2
    font-weight: 400
    font-size: 36px
    line-height: 46.8px
    color: white
    text-align: center

section > h2
    margin-bottom: 10px

section > .p2
    width: 1160px
    margin: 0 auto
    letter-spacing: 0.08px
    margin-bottom: 45px

.p2
    font-weight: 400
    font-size: 16px
    line-height: 22.4px
    color: white

.info
    color: #FE9013
    text-align: left
    margin: 0 219px

.wrapper
    margin: 60px auto 0 auto
    background: rgba(255, 255, 255, 0.52)
    backdrop-filter: blur(2px)
    border-radius: 20px
    height: 924px
    width: 1160px
    padding-top: 40px

.content
    margin: 0 92px

h1
    color: #FE9013
    text-align: center
    margin-right: 12px
    font-weight: 400
    font-size: 48px
    line-height: 57.6px

.p1
    font-weight: 400
    font-size: 24px
    line-height: 28.8px
    margin-top: 20px

.items
    margin-top: 60px
    width: 532px
    height: 246px
    margin-left: 215px
    display: flex
    margin-bottom: 48px

.str1
    font-weight: 500
    font-size: 72px
    line-height: 57.6px
    margin-bottom: 10px

.str2
    font-weight: 400
    font-size: 16px
    line-height: 22.4px
    margin-bottom: 50px

.itm1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end

.itm2
    background-image: url('../../assets/icons/cross.svg')
    width: 24px
    background-repeat: no-repeat
    background-position: 10px 130px

.itm3
    background-image: url('../../assets/images/animals-widget.png')
    width: 284px
    background-repeat: no-repeat
    margin-left: 64px

.content > p
    color: black
    text-align: left

.count
    margin-top: 17px
    background-color: #72828E
    border: 12.5px solid #404950
    border-radius: 2px
    height: 2px
    display: flex
    padding-right: 15px
    justify-content: space-between
    align-items: center

.count > div
    width: 40px
    height: 40px
    margin-right: -12px
    cursor: pointer

.check
    background-image: url('../../assets/icons/roller_icon.svg')

.point
    width: 10px
    height: 10px
    background-color: #FFEE2E
    border-radius: 50%
    position: relative
    top: 15px
    left: 15px

.price
    width: 951px

.content > ul
    padding: 0
    list-style: none
    margin-top: 12px
    display: flex

.content > ul > li
    font-weight: 500
    font-size: 26px
    line-height: 36.4px

.pr1
    margin-right: 56px

.pr2
    margin-right: 56px

.pr3
    margin-right: 56px
    color: #FE9013

.pr4
    margin-right: 71px

.pr5
    margin-right: 71px

.pr6
    margin-right: 71px

.pr7
    margin-right: 85px

.form1
    width: 268px
    margin: 50px auto 25px auto

.form1 > input
    width: 254px
    height: 48px
    padding-left: 9px
    padding: auto 0 auto 9px
    background: none
    border: 1px solid #929699
    background-image: url('../../assets/icons/dollar.svg')
    background-repeat: no-repeat
    background-position: 248px 17px
    color: black
    &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
    &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    &::placeholder
        color: #929699
        font-weight: 400
        font-size: 15px
        line-height: 22.4px
        letter-spacing: 0.3px
    &:focus
        background: none
        background-image: url('../../assets/icons/dollar.svg')
        background-repeat: no-repeat
        background-position: 248px 17px

.form2
    float: left
    margin-left: 381px

.form2 > input
    position: absolute
    z-index: -1
    opacity: 0

.form2 > input+label
    display: inline-flex
    align-items: center
    user-select: none

.form2 > input+label::before
        content: ''
        display: inline-block
        width: 16px
        height: 16px
        border: 1px solid #FE9013
        border-radius: 50%
        margin-right: 10px
        &:hover
        cursor: pointer

.form2 > input:checked+label::before
    border-color: #FE9013
    background-color: #FE9013

.form2 > label
    margin-right: 45px
    font-weight: 400
    font-size: 16px
    line-height: 22.4px

.btn1
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 25px
    width: 298px
    height: 54px
    border: none
    margin: 0 -282px 30px
    font-weight: 500
    font-size: 15px
    line-height: 22.4px
    margin-top: 52px
    color: white
    letter-spacing: -0.3px

.content > .p2
    // text-align: center

.content > .p-center
    text-align: center

/////////////////////////////////////////////footer//////////////////////////////////////////

footer
    height: 393px
    background-color: black
    padding: 0 220px
    display: flex
    align-items: flex-end
    padding-bottom: 50px
    justify-content: space-between

.left
    flex-basis: 298px
    margin-right: 66px

.left > div
    color: white
    width: 80px

.btn5
    font-weight: 500
    font-size: 15px
    line-height: 22.4px
    color: white
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    border: none
    width: 298px
    height: 54px
    margin-top: 70px
    margin-bottom: 35px 
    letter-spacing: -0.3px

.social > li
    color: white
    list-style: none
    font-weight: 400
    font-size: 16px
    line-height: 22.4px
    height: 26px
    padding-left: 38px
    display: flex
    align-items: flex-end
    margin-top: 10px
    background-repeat: no-repeat
    &:hover
        cursor: pointer
        color: green


ul
    padding: 0

ul > a

.face
    background-image: url('../../assets/images/fb.png')
    &:hover
        background-image: url('../../assets/images/fb-hover.png')
.twit
    background-image: url('../../assets/images/tw.png')
    &:hover
        background-image: url('../../assets/images/tw-hover.png')
.inst
    background-image: url('../../assets/images/in.png')
    &:hover
        background-image: url('../../assets/images/in-hover.png')
.yotu
    background-image: url('../../assets/images/yb.png')
    &:hover
        background-image: url('../../assets/images/yb-hover.png')

.center
    display: flex
    flex-basis: 362px
    justify-content: space-between
    padding: 0
    list-style: none

.center > .about
    color: white

.right > h5
    color: white
    font-weight: 400
    font-size: 24px
    line-height: 28.8px
    margin-bottom: 14px

.right > p
    color: white
    font-weight: 100
    font-size: 16px
    line-height: 20.8px
    margin-top: 10px
    margin-left: 140px

.right > form
    height: 42px
    width: 369px
    margin-bottom: 216px

input
    width: 214px
    height: 38px
    background-color: black
    border: 1px solid orange
    padding-left: 10px
    margin-right: 8px
    color: white
    font-weight: 400
    font-size: 15px
    line-height: 22.4px
    letter-spacing: 0.3px
    &::placeholder
        color: #BDBDBD
        font-weight: 400
        font-size: 15px
        line-height: 22.4px
        letter-spacing: 0.3px
    &:focus
        background-color: white

form > button
    width: 129px
    height: 42px
    border: 1px solid black
    color: black
    border-radius: 5px
    background: #F1F3F2
    font-weight: 400
    font-size: 15px
    line-height: 22.4px
    letter-spacing: 0.3px