@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin flex($just: flex-start, $align: stretch)
    display: flex
    justify-content: $just
    align-items: $align

@mixin font($w, $s, $h, $a: left, $ls: 0)
    font-weight: $w
    font-size: $s
    line-height: $h
    text-align: $a
    letter-spacing: $ls

@mixin img($s, $p: 0 0)
    background-image: url($s)
    background-repeat: no-repeat
    background-position: $p

$desktop: 1000px
$tablet: 640px
$mobile: 320px

body
    margin: 0
    padding: 0
    font-family: Roboto

header
    @include flex('', center)
    background-color: black
    color: white
    min-height: 80px
    padding: 0 13.75%

ul, p, h1, h2, h3, h4, h5, h6, nav
    margin: 0
    
button
    &:hover
        background: #E47209
        cursor: pointer
    &:active
        background-color: #4B9200


.menu
    @include flex(space-between)
    flex-basis: 472px
    padding: 0
    margin-left: 64px
    list-style: none

.about
    color: orange

li, .by
    @include font(500, 16px, 22.4px)

a
    &:link, &:active, &:visited
        color: white
        text-decoration: none
    &:hover
        color: orange
        cursor: pointer

.logo
    @include flex(center, center)
    @include img('../../assets/icons/bamboo.svg', 8.5px 22px)
    flex-basis: 80px
    height: 49px
    border: 1px solid white
    align-self: center
    border-radius: 2px

.petstory
    @include font(400, 19.01px, 22.82px, center)

.by
    text-align: right
    flex-basis: 105px
    flex-shrink: 0

.empty
    flex-basis: 445px
    flex-shrink: 5

div > p
    vertical-align: bottom

////////////////////////////////////////////section1///////////////////////////////////////////

.section1
    @include img('../../assets/images/Giant Panda.png', 0 -80px)
    min-height: 700px

.cont
    padding-top: 86px

h1
    @include font(700, 106.5px, 79.87px, center)
    position: absolute
    left: calc((100vw - 400.25px)*0.741)
    color: white
    z-index: 6
    margin-right: 85.75px

h1 > span
    color: #FFEE2E

.ellipse
    position: absolute
    width: 465px
    height: 465px
    left: calc((100vw - 465px)*0.711)
    top: 92px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 50%
    z-index: 5

.watch
    @include font(500, 15px, 22.4px, center, 0.3px)
    width: 298px
    height: 54px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 25px
    color: white
    border: none
    position: absolute
    left: calc((100vw - 298px)*0.756)
    top: 626px

//////////////////////////////////////////////////////////section2/////////////////////////////////////////////////////

.section2
    @include img('../../assets/images/section2-bg.png')
    background-color: white
    min-height: 1689px
    padding-top: 140px

.flowers
    position: relative

.strel
    @include img('../../assets/images/strelitzia 1.png')
    position: absolute
    width: 368px
    height: 275px
    right: 0px
    top: -275px
    z-index: 1

.palm
    @include img('../../assets/images/palm_foto.png', -588px 0)
    position: absolute
    width: 400px
    height: 460px
    left: 0px
    top: -460px
    z-index: 1

.oldman
    @include flex(space-around)
    flex-wrap: wrap
    max-width: 1245px
    min-height: 403px
    margin: 0 auto 158px

.oldman-pic
    @include img('../../assets/images/bamboo-cap.png')
    width: 609px
    height: 403px
    margin: 0 40px

.oldman-article
    width: 465px
    margin: 0 40px

h2
    @include font(400, 46px, 57.6px, '', 0.9px)
    margin-bottom: 20px

.p1
    @include font(400, 16px, 20.8px)

.oldman-article > .p1
    margin-bottom: 54px

h5
    @include font(400, 24px, 28.8px)
    margin-bottom: 34px

.p2
    @include font(400, 16px, 22.4px)

.pag
    @include flex(center)
    margin: 0 12.7% 80px
    max-width: 1200px
    min-height: 872px
    flex-wrap: wrap
    align-content: space-between
    

.pag > div
    @include flex('', flex-end)
    width: 362px
    height: 422px
    border-radius: 5px
    background-color: white
    border: 2px solid orange
    background-repeat: no-repeat
    overflow: hidden
    background-size: 100.5%
    transition: 0.5s
    margin: 20px 15px 0
    z-index: 6

.title
    @include flex(center)
    background-color: white
    width: 100%
    height: 60px
    flex-direction: column
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    position: relative
    top: 50px
    transition: 0.5s
    z-index: 6

h6
    @include font(500, 16px, 22.4px)

.pag > div > div > p
    @include font(300, 15px, 18px)
    margin-left: 16px

h6
    margin-left: 16px

.card1
    background-image: url('../../assets/images/animal1.png')
.card2
    background-image: url('../../assets/images/animal2.png')
.card3
    background-image: url('../../assets/images/animal3.png')
.card4
    background-image: url('../../assets/images/animal4.png')
.card5
    background-image: url('../../assets/images/animal5.png')
.card6
    background-image: url('../../assets/images/animal6.png')

.banana
    @include img('../../assets/icons/banana-bamboo_icon.svg', 321px 10px)

.fish
    @include img('../../assets/icons/meet-fish_icon.svg', 310px 8px)

.buttons
    position: relative

.buttons > div
    &:hover
        cursor: pointer
    &:active
        background: #4B9200

.btnL
    border-radius: 50%
    position: absolute
    width: 62px
    height: 62px
    left: calc((100vw - 62px)*0.089)
    top: 423px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)

.btnL > div, .btnR > div
    @include img('../../assets/icons/arrow.svg', 50% 50%)
    width: 62px
    height: 62px

.btnR > div
    transform: rotate(180deg)

.btnR
    border-radius: 50%
    position: absolute
    width: 62px
    height: 62px
    right: calc((100vw - 62px)*0.09)
    top: 423px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)

.btn2
    @include font(500, 15px, 22.4px, '', -0.3px)
    color: white
    border: none
    width: 298px
    height: 54px
    background: #FE9013
    border-radius: 25px
    margin: 0 calc((100vw - 298px)/2) 100px

///////////////////////////////////////////////section 3////////////////////////////////////////////////

.section3
    min-height: 935px
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)
    opacity: 0.9
    padding-top: 69px

.wrapper
    background: rgba(253, 253, 255, 0.52)
    backdrop-filter: blur(2px)
    border-radius: 20px
    max-width: 1160px
    min-height: 835px
    margin: 0 auto
    display: flex
    flex-direction: column
    
h3
    @include font(400, 48px, 57.6px, center)
    color: #FE9013
    margin-top: 41px

.wrapper > h5
    margin: 30px 99px 40px

.p3
    @include font(500, 16px, 20.8px)

.wrapper > .p3
    max-width: 1002px
    margin: 0 59px 0 99px

.wrapper > .p1
    max-width: 863px
    margin: 10px 59px 56px 99px

.p1 > span
    border-bottom: 2px solid #FE9013
    line-height: 27px
    &:hover
        border-bottom: 2px solid green

.p1 > span > a
    color: black
    &:hover
        color: green

h4
    @include font(400, 36px, 46.8px)

.wrapper > h4
    text-align: center
    margin-bottom: 40px

.items
    @include flex(space-between)
    height: 244px
    width: 764px
    align-self: center

.items > div
    width: 168px

.img
    height: 166px
    border-radius: 5px
    border: 1px solid orange
    background-color: white
    background-repeat: no-repeat
    background-position: 50% 50%

.img > div
    width: 168px
    height: 166px
    border-radius: 5px

.items > div > p
    margin-top: 29px

.img1
    background-image: url('../../assets/icons/pay.svg')
.img2
    background-image: url('../../assets/icons/zoo.svg')
.img3
    background-image: url('../../assets/icons/monkey.svg')

.itm2, .itm4
    @include img('../../assets/icons/arrow2.svg')
    
.itm2
    background-position: 50% 29%
.itm4
    background-position: 50% 27%

.btn3
    @include font(500, 14px, 22.4px, '', 0.55px)
    align-self: center
    margin: 60px 0 50px
    width: 298px
    height: 54px
    border: none
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 25px
    color: white

/////////////////////////////////////////////////section 4//////////////////////////////////////////////////

.section4
    @include img('../../assets/images/section4-bg.png', 100% 92%)
    min-height: 780px
    background-color: white
    flex-direction: column
    padding: 0 220px

.section4 > h4
    margin-top: 140px
    text-align: center
    margin-bottom: 47px

.slider-itms
    @include flex(space-between)
    flex-wrap: wrap
    max-width: 1160px
    min-height: 391px

.slider-itms > div
    background: #F1F3F2
    border-radius: 20px
    width: 238px
    height: 362px
    background-image: radial-gradient(circle at 100% 100%, transparent 18px, #e4e4f5 18px, #e4e4f5 20px, transparent 20px), linear-gradient(to right, #e4e4f5, #f2b2f7), radial-gradient(circle at 0% 100%, transparent 18px, #f2b2f7 18px, #f2b2f7 20px, transparent 20px), linear-gradient(to bottom, #f2b2f7, #fdc1b0), radial-gradient(circle at 0% 0%, transparent 18px, #fdc1b0 18px, #fdc1b0 20px, transparent 20px), linear-gradient(to left, #fdc1b0, #f3b3f3), radial-gradient(circle at 100% 0%, transparent 18px, #f3b3f3 18px, #f3b3f3 20px, transparent 20px), linear-gradient(to top, #f3b3f3, #e4e4f5)
    background-size: 20px 20px, calc(100% - 40px) 2px, 20px 20px, 2px calc(100% - 40px)
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left
    background-repeat: no-repeat
    padding: 15px
    margin-bottom: 21px

.p4
    @include font(400, 16px, 19.2px)

.slider-head > .p4, .slider-head > .p5
    margin-left: 48px

.slider-head > .p5
    color: #BDBDBD

.slider-head
    margin-bottom: 11px
    background-repeat: no-repeat

.slider-itms > div > .p5
    width: 237px

.p5
    @include font(300, 15px, 18px)
    color: gray

.user1
    background-image: url('../../assets/images/user1.png')
.user2
    background-image: url('../../assets/images/user2.png')
.user3
    background-image: url('../../assets/images/user3.png')
.user4
    background-image: url('../../assets/images/user4.png')

.slider-btn
    width: 599px
    height: 8px
    background: linear-gradient(to top,#fdc1b0 , #e5ccf2)
    border-radius: 5px
    margin: 0 auto

.slider-btn > div
    width: 598.5px
    height: 7.5px
    background-color: #F5F7F6
    border-radius: 5px

.slider-btn > div > div
    background-color: #FE9013
    height: 6px
    margin-top: 1px
    width: 115.19px
    border-radius: 5px
    &:hover
        background-color: #E47209
        cursor: pointer
    &:active
        background-color: #4B9200

.btn4
    @include font(500, 15px, 22.4px, '', -0.3px)
    width: 298px
    height: 54px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    color: white
    margin: 31px 0 140px
    align-self: flex-start
    border: none

/////////////////////////////////////////////footer//////////////////////////////////////////

footer
    @include flex(flex-start, flex-end)
    flex-wrap: wrap
    min-height: 393px
    background-color: black
    padding: 0 calc((100vw - 1160px)/2) 0 calc((100vw - 1160px)/2 - 43px)
    padding-bottom: 50px


.left
    flex-basis: 298px
    margin: 39px 0 0 43px

.left > div
    color: white
    width: 80px

.btn5
    @include font(500, 15px, 22.4px, '', -0.3px)
    color: white
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    border: none
    width: 298px
    height: 54px
    margin: 70px 0 35px

.social > li
    @include font(400, 16px, 22.4px)
    color: white
    list-style: none
    height: 26px
    padding-left: 38px
    margin-top: 10px
    background-repeat: no-repeat
    @include flex('', flex-end)
    &:hover
        cursor: pointer
        color: green
    
ul
    padding: 0

ul > a

.face
    background-image: url('../../assets/images/fb.png')
    &:hover
        background-image: url('../../assets/images/fb-hover.png')
.twit
    background-image: url('../../assets/images/tw.png')
    &:hover
        background-image: url('../../assets/images/tw-hover.png')
.inst
    background-image: url('../../assets/images/in.png')
    &:hover
        background-image: url('../../assets/images/in-hover.png')
.yotu
    background-image: url('../../assets/images/yb.png')
    &:hover
        background-image: url('../../assets/images/yb-hover.png')

.center
    @include flex(space-between)
    flex-basis: 360px
    padding: 0
    list-style: none
    margin-left: 102px

.right
    margin-top: 40px
    margin-left: 31px

.right > h5
    color: white
    margin-bottom: 14px

.right > p
    @include font(100, 16px, 20.8px)
    color: white
    margin: 10px 0 0 140px

form
    height: 42px
    width: 369px
    margin-bottom: 216px

input
    @include font(400, 15px, 22.4px, '', 0.3px)
    width: 214px
    height: 38px
    background-color: black
    border: 1px solid orange
    padding-left: 10px
    margin-right: 8px
    color: white
    &::placeholder
        @include font(400, 15px, 22.4px, '', 0.3px)
        color: #BDBDBD
    &:focus
        background-color: white

form > button
    @include font(400, 15px, 22.4px, '', 0.3px)
    width: 129px
    height: 42px
    border: 1px solid black
    color: black
    border-radius: 5px
    background: #F1F3F2
    
//////////////////////////////////////////SMALL DESKTOP//////////////////////////////////////////////

@media screen and (max-width: $desktop)
    header
        padding: 0 calc((100vw - 940px)/2)  
        position: relative  
        z-index: 6

    .logo
        flex-basis: 87px

    ////////////////////////////////////////////section1///////////////////////////////////////////

    .section1
        min-height: 504px
        background-size: 120%
        background-position-x: -100px

    .ellipse
        width: 367px
        height: 367px
        left: calc((100vw - 367px)*0.72)
        top: 70px

    .cont
        padding-top: 42.8px

    h1
        font-size: 85px
        line-height: 63.75px
        left: calc((100vw - 400.25px)*0.87)

    .watch
        left: calc((100vw - 298px)*0.805)
        top: 482px

    ////////////////////////////////////////////section2///////////////////////////////////////////

    .section2
        min-height: 1644px
        padding-top: 100px
        padding: 100px 30px 0
    
    .oldman
        max-width: 940px
        min-height: 427px
        margin-bottom: 142px
        justify-content: space-between

    .oldman-pic
        width: 455px
        height: 408px
        margin: 9px 0 0
        background-size: 135.2%
        background-position-x: -80px

    .oldman-article
        width: 454px
        margin: 0

    .pag
        justify-content: space-between
        margin: 0
        max-width: 941px
        min-height: 801px

    .pag > div
        width: 290px
        height: 350px
        margin: 0 0 92px

    .title
        @include flex(center)
        background-color: white
        width: 100%
        height: 60px
        flex-direction: column
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        position: relative
        top: 50px
        transition: 0.5s

    .btnL
        left: calc((100vw - 62px)*0.345)
        top: 368px

    .btnR
        right: calc((100vw - 62px)*0.344)
        top: 368px

    .btn2
        margin: -12px calc((100vw - 298px)/2 - 30px) 100px

    .strel
        right: -30px
        top: -235px
        background-size: 65.5%
        background-position: 100% 100%

    .palm
        left: -30px
        top: -420px
        background-size: 97%
        background-position: -194px 258px

    .banana
        background-position: 245px 10px

    .fish
        background-position: 234px 10px

    ////////////////////////////////////////////section3///////////////////////////////////////////

    .section3
        min-height: 846px
        padding: 30px 30px 0

    h3
        margin-top: 30px

    .wrapper
        min-height: 796px

    .wrapper > h5
        margin: 20px 48px 20px 49px

    .wrapper > .p3
        // max-width: 1002px
        margin: 0 78px 0 49px

    .wrapper > .p1
        // max-width: 863px
        margin: 10px 68px 36px 49px

    .itm4
        background-position: 50% 28.8%

    .btn3
        margin: 70px 0 50px

    /////////////////////////////////////////////////section 4//////////////////////////////////////////////////

    .section4
        min-height: 742px
        padding: 0 30px
        background-position: 99.9% 230%
        background-size: 129%

    .section4 > h4
        margin-top: 100px
        margin-bottom: 30px

    .user-del
        display: none
    
    .slider-itms > div
        width: 263px
        height: 361px
        // padding: 15px
        margin-bottom: 20px

    .slider-itms > div > .p5
        width: 255px

    .slider-btn
        width: 390px

    .slider-btn > div
        width: 390px

    .slider-btn > div > div
        width: 75px

    .btn4
        margin: 52px 0 140px

    /////////////////////////////////////////////footer//////////////////////////////////////////

    footer
        min-height: 380px
        padding-bottom: 0
        position: relative
        top: 0

    .left
        margin-bottom: 50px

    .center
        flex-basis: 332px
        margin: 0 0 50px -7px

    .right
        margin: 0
        position: absolute
        top: 40px
        left: 583px

    input
        margin-right: 6px

    .right > p
        margin: 10px 0 0 170px