@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin flex($just: flex-start, $align: stretch)
    display: flex
    justify-content: $just
    align-items: $align

@mixin font($w, $s, $h, $a: left, $ls: 0)
    font-weight: $w
    font-size: $s
    line-height: $h
    text-align: $a
    letter-spacing: $ls

@mixin img($s, $p: 0 0)
    background-image: url($s)
    background-repeat: no-repeat
    background-position: $p

$desktop: 1000px
$tablet: 640px
$mobile: 320px

body
    margin: 0
    padding: 0
    font-family: Roboto

header
    @include flex('', center)
    background-color: black
    color: white
    min-height: 80px
    padding: 0 13.75%

ul, p, h1, h2, h3, h4, h5, h6, nav
    margin: 0
    
button
    &:hover
        background: #E47209
        cursor: pointer
    &:active
        background-color: #4B9200


.menu
    @include flex(space-between)
    flex-basis: 472px
    padding: 0
    margin-left: 64px
    list-style: none

.about
    color: orange

li, .by
    @include font(500, 16px, 22.4px)

a
    &:link, &:active, &:visited
        color: white
        text-decoration: none
    &:hover
        color: orange
        cursor: pointer

.logo
    @include flex(center, center)
    @include img('../../assets/icons/bamboo.svg', 8.5px 22px)
    flex-basis: 80px
    height: 49px
    border: 1px solid white
    align-self: center
    border-radius: 2px

.petstory
    @include font(400, 19.01px, 22.82px, center)

.by
    text-align: right
    flex-basis: 105px

.empty
    flex-basis: 445px
    flex-shrink: 5

div > p
    vertical-align: bottom

////////////////////////////////////////////section1///////////////////////////////////////////

.section1
    @include img('../../assets/images/Giant Panda.png', 0 -80px)
    min-height: 700px

h1
    @include font(700, 106.5px, 79.87px, center)
    position: relative
    color: white
    z-index: 6
    width: 500.31px
    top: 86px
    left: 55%

h1 > span
    color: #FFEE2E

.ellipse
    position: absolute
    width: 465px
    height: 465px
    left: calc(50% - 465px/2 + 239.5px)
    top: 92px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 50%
    z-index: 5

.watch
    @include font(500, 15px, 22.4px, center, 0.3px)
    width: 298px
    height: 54px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 25px
    color: white
    border: none
    position: absolute
    left: calc(50% - 298px/2 + 332px)
    top: 626px

//////////////////////////////////////////////////////////section2/////////////////////////////////////////////////////

.section2
    background-color: white
    min-height: 1689px
    margin-top: 140px

.strel
    @include img('../../assets/images/strelitzia 1.png')
    position: absolute
    width: 368px
    height: 275px
    right: 0px
    top: 2334px

.palm
    @include img('../../assets/images/palm_foto.png')
    position: absolute
    width: 400px
    height: 460px
    left: 0px
    top: 2149px

.flow
    @include img('../../assets/images/flower_foto1.png')
    position: absolute
    width: 204px
    height: 605px
    right: 0
    top: 792px

.oldman
    height: 403px
    margin: 0 13.6875% 180px 13.6875%

.oldman-pic
    @include img('../../assets/images/bamboo-cap.png')
    width: 609px
    height: 403px
    margin: 0
    float: left

.oldman-article
    width: 465px
    float: right

h2
    @include font(400, 46px, 57.6px, '', 0.9px)
    margin-bottom: 20px

.p1
    @include font(400, 16px, 20.8px)

.oldman-article > .p1
    margin-bottom: 54px

h5
    @include font(400, 24px, 28.8px)
    margin-bottom: 34px

.p2
    @include font(400, 16px, 22.4px)

.pag
    @include flex(space-between)
    margin: 0 13.6875% 80px 13.6875%
    width: 1158px
    height: 872px
    flex-wrap: wrap
    align-content: space-between
    

.pag > div
    @include flex('', flex-end)
    width: 362px
    height: 422px
    border-radius: 5px
    border: 2px solid orange
    background-repeat: no-repeat
    overflow: hidden
    background-size: 100.5%
    transition: 0.5s

.title
    @include flex(center)
    background-color: white
    width: 100%
    height: 60px
    flex-direction: column
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    position: relative
    top: 50px
    transition: 0.5s

h6
    @include font(500, 16px, 22.4px)

.pag > div > div > p
    @include font(300, 15px, 18px)
    margin-left: 16px

h6
    margin-left: 16px

.card1
    background-image: url('../../assets/images/animal1.png')
.card2
    background-image: url('../../assets/images/animal2.png')
.card3
    background-image: url('../../assets/images/animal3.png')
.card4
    background-image: url('../../assets/images/animal4.png')
.card5
    background-image: url('../../assets/images/animal5.png')
.card6
    background-image: url('../../assets/images/animal6.png')

.banana
    @include img('../../assets/icons/banana-bamboo_icon.svg', 321px 10px)

.fish
    @include img('../../assets/icons/meet-fish_icon.svg', 310px 8px)

.buttons
    position: relative

.buttons > div
    &:hover
        cursor: pointer
    &:active
        background: #4B9200

.btnL
    border-radius: 50%
    position: absolute
    width: 62px
    height: 62px
    left: 138px
    top: 403px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)

.btnL > div, .btnR > div
    @include img('../../assets/icons/arrow.svg', 50% 50%)
    width: 62px
    height: 62px

.btnR > div
    transform: rotate(180deg)

.btnR
    border-radius: 50%
    position: absolute
    width: 62px
    height: 62px
    right: 140px
    top: 403px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)

.btn2
    @include font(500, 15px, 22.4px, '', -0.3px)
    color: white
    border: none
    width: 298px
    height: 54px
    background: #FE9013
    border-radius: 25px
    margin-left: 40.6875%

///////////////////////////////////////////////section 3////////////////////////////////////////////////

.section3
    min-height: 935px
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)
    opacity: 0.9
    padding-top: 69px

.wrapper
    background: rgba(253, 253, 255, 0.52)
    backdrop-filter: blur(2px)
    border-radius: 20px
    width: 1160px
    height: 835px
    margin-left: 13.75%
    display: flex
    flex-direction: column
    
h3
    @include font(400, 48px, 57.6px, center)
    color: #FE9013
    margin-top: 41px

.wrapper > h5
    margin: 30px 0 40px 99px

.p3
    @include font(500, 16px, 20.8px)

.wrapper > .p3
    margin-left: 99px

.wrapper > .p1
    margin: 10px 0 56px 99px

.p1 > span
    border-bottom: 2px solid #FE9013
    line-height: 27px
    &:hover
        border-bottom: 2px solid green

.p1 > span > a
    color: black
    &:hover
        color: green

h4
    @include font(400, 36px, 46.8px)

.wrapper > h4
    text-align: center
    margin-bottom: 40px

.items
    @include flex(space-between)
    height: 244px
    width: 764px
    margin-left: 198px

.items > div
    width: 168px

.img
    height: 166px
    border-radius: 5px
    border: 1px solid orange
    background-color: white
    background-repeat: no-repeat
    background-position: 50% 50%

.img > div
    width: 168px
    height: 166px
    border-radius: 5px

.items > div > p
    margin-top: 29px

.img1
    background-image: url('../../assets/icons/pay.svg')
.img2
    background-image: url('../../assets/icons/zoo.svg')
.img3
    background-image: url('../../assets/icons/monkey.svg')

.itm2, .itm4
    @include img('../../assets/icons/arrow2.svg')
    
.itm2
    background-position: 50% 29%
.itm4
    background-position: 50% 27%

.btn3
    @include font(500, 14px, 22.4px, '', 0.55px)
    position: relative
    width: 298px
    height: 54px
    border: none
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 25px
    color: white
    top: -112px
    left: 40.6875%

/////////////////////////////////////////////////section 4//////////////////////////////////////////////////

.section4
    @include flex('', center)
    height: 919px
    background-color: white
    flex-direction: column

.leav
    @include img('../../assets/images/leav_foto.png')
    position: absolute
    width: 160px
    height: 237px
    right: 0
    top: 4295px

.section4 > h4
    margin-top: 140px
    text-align: center
    margin-bottom: 47px

.slider-itms
    @include flex(space-between)
    width: 1160px
    height: 391px
    margin-bottom: 21px

.slider-itms > div
    background: #F1F3F2
    border-radius: 20px
    width: 238px
    height: 362px
    background-image: radial-gradient(circle at 100% 100%, transparent 18px, #e4e4f5 18px, #e4e4f5 20px, transparent 20px), linear-gradient(to right, #e4e4f5, #f2b2f7), radial-gradient(circle at 0% 100%, transparent 18px, #f2b2f7 18px, #f2b2f7 20px, transparent 20px), linear-gradient(to bottom, #f2b2f7, #fdc1b0), radial-gradient(circle at 0% 0%, transparent 18px, #fdc1b0 18px, #fdc1b0 20px, transparent 20px), linear-gradient(to left, #fdc1b0, #f3b3f3), radial-gradient(circle at 100% 0%, transparent 18px, #f3b3f3 18px, #f3b3f3 20px, transparent 20px), linear-gradient(to top, #f3b3f3, #e4e4f5)
    background-size: 20px 20px, calc(100% - 40px) 2px, 20px 20px, 2px calc(100% - 40px)
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left
    background-repeat: no-repeat
    padding: 15px

.p4
    @include font(400, 16px, 19.2px)

.slider-head > .p4, .slider-head > .p5
    margin-left: 48px

.slider-head > .p5
    color: #BDBDBD

.slider-head
    margin-bottom: 11px
    background-repeat: no-repeat

.slider-itms > div > .p5
    width: 237px

.p5
    @include font(300, 15px, 18px)
    color: gray

.user1
    background-image: url('../../assets/images/user1.png')
.user2
    background-image: url('../../assets/images/user2.png')
.user3
    background-image: url('../../assets/images/user3.png')
.user4
    background-image: url('../../assets/images/user4.png')

.slider-btn
    width: 599px
    height: 8px
    background: linear-gradient(to top,#fdc1b0 , #e5ccf2)
    border-radius: 5px

.slider-btn > div
    width: 598.5px
    height: 7.5px
    background-color: #F5F7F6
    border-radius: 5px

.slider-btn > div > div
    background-color: #FE9013
    height: 6px
    margin-top: 1px
    width: 115.19px
    border-radius: 5px
    &:hover
        background-color: #E47209
        cursor: pointer
    &:active
        background-color: #4B9200

.btn4
    @include font(500, 15px, 22.4px, '', -0.3px)
    width: 298px
    height: 54px
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    color: white
    margin: 31px 0 0 220px
    align-self: flex-start
    border: none

/////////////////////////////////////////////footer//////////////////////////////////////////

footer
    @include flex(space-between, flex-end)
    height: 393px
    background-color: black
    padding: 0 220px
    padding-bottom: 50px


.left
    flex-basis: 298px
    margin-right: 66px

.left > div
    color: white
    width: 80px

.btn5
    @include font(500, 15px, 22.4px, '', -0.3px)
    color: white
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
    border-radius: 5px
    border: none
    width: 298px
    height: 54px
    margin: 70px 0 35px

.social > li
    @include font(400, 16px, 22.4px)
    color: white
    list-style: none
    height: 26px
    padding-left: 38px
    margin-top: 10px
    background-repeat: no-repeat
    @include flex('', flex-end)
    &:hover
        cursor: pointer
        color: green
    


ul
    padding: 0

ul > a

.face
    background-image: url('../../assets/images/fb.png')
    &:hover
        background-image: url('../../assets/images/fb-hover.png')
.twit
    background-image: url('../../assets/images/tw.png')
    &:hover
        background-image: url('../../assets/images/tw-hover.png')
.inst
    background-image: url('../../assets/images/in.png')
    &:hover
        background-image: url('../../assets/images/in-hover.png')
.yotu
    background-image: url('../../assets/images/yb.png')
    &:hover
        background-image: url('../../assets/images/yb-hover.png')

.center
    @include flex(space-between)
    flex-basis: 362px
    padding: 0
    list-style: none

.right > h5
    color: white
    margin-bottom: 14px

.right > p
    @include font(100, 16px, 20.8px)
    color: white
    margin: 10px 0 0 140px

form
    height: 42px
    width: 369px
    margin-bottom: 216px

input
    @include font(400, 15px, 22.4px, '', 0.3px)
    width: 214px
    height: 38px
    background-color: black
    border: 1px solid orange
    padding-left: 10px
    margin-right: 8px
    color: white
    &::placeholder
        @include font(400, 15px, 22.4px, '', 0.3px)
        color: #BDBDBD
    &:focus
        background-color: white

form > button
    @include font(400, 15px, 22.4px, '', 0.3px)
    width: 129px
    height: 42px
    border: 1px solid black
    color: black
    border-radius: 5px
    background: #F1F3F2
    
//////////////////////////////////////////SMALL DESKTOP//////////////////////////////////////////////

@media screen and (max-width: $desktop)
    body
        background-color: red